.container_sobre {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 50px;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
  flex: 1;
  padding-right: 10px;
  font-size: 1rem;
}

.about-image img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .about-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-text {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 819px) {
  .about-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
  }

  .about-text {
    max-width: 100%;
    flex: 1;
    margin-right: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (min-width: 820px) and (max-width: 1021px) {
  .about-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }

  .about-text {
    max-width: 100%;
    flex: 1;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1022px) and (max-width: 1200px) {
  .about-content {
    height: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }

  .about-text {
    max-width: 100%;
    flex: 1;
    margin-right: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container_sobre h2 {
    margin-top: 6rem;
  }
  .about-text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 390px) {
  .container_sobre h2 {
    margin-top: 6rem;
  }

  .about-text {
    font-size: 0.5rem;
  }
}
